.auth {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 154px 353px 131px;

	background-image: linear-gradient(
			rgba(30, 57, 60, 0.39),
			rgba(30, 57, 60, 0.39)
		),
		url('../../assets/auth.png');
	background-size: cover;
	background-position: center;
}

.auth__container {
	width: 1213px;
	height: 794px;
	background-color: #fcfbf8;
	border-radius: 20px;
}

.auth__title {
	display: block;
	font-size: 60px;
	font-weight: 500;
	margin: 62px 240px 0 240px;
	height: 93px;
}

.auth__text {
	display: block;
	font-size: 24px;
	height: 48px;
	margin: 0 240px 0 240px;
}

.auth__tabs {
	position: relative;
	margin: 0 0 0 305px;
	width: 598px; /* 216px + 382px */
}

.auth__tab {
	background: none;
	border: none;
	font-size: 32px;
	cursor: pointer;
}

.auth__tab--login {
	width: 216px;
	margin-bottom: 13px;
}

.auth__tab--register {
	width: 382px;
	margin-bottom: 13px;
}

.auth__tab-line {
	position: absolute;
	width: 100%;
	height: 3.5px;
	background-color: #a5a5a5;
}

/* Активная часть полосы */
.auth__tab-indicator {
	position: absolute;
	height: 100%;
	background-color: var(--svg-stroke-sand);
	transition: all 0.3s ease;
}

/* Позиционирование для левой кнопки (ВХОД) */
.auth__tab-indicator--left {
	width: 216px;
}

/* Позиционирование для правой кнопки (РЕГИСТРАЦИЯ) */
.auth__tab-indicator--right {
	left: 216px;
	width: 382px;
}

.auth__form {
	width: 601px;
	margin: 60px 307px 0 305px;
}

.auth__form label {
	display: block;
	height: 40px;
	margin: 0 0 0 16px;
}

.auth__form-group {
	margin: 0 0 13px 0;
}

.auth__form input {
	border-radius: 15px;
	border: 1px solid #425b60;
	width: 100%;
	height: 44.79px;
	background-color: #fcfbf8;
}

.auth__submit {
	margin: 98px 419px 0 420px;
	width: 374px;
	height: 59px;
	background-color: #dc764a;
	border-radius: 15px;
	font-size: 24px;
	cursor: pointer;
	border: none;
	color: #fdf5ec;
}
