main {
	display: flex;
	flex: 1;
	flex-direction: column;
}

main h1 {
	font-size: 3.13vw;
	font-weight: bold;
	margin: 3.7vw 4.58vw 0 5.16vw;
	color: var(--text-primary);
}

main h1 em {
	font-style: normal;
	color: var(--text-accent);
}

.home__section-first {
	display: flex;
	flex-direction: column;
}

.home__section-first h2 {
	font-size: 1.67vw;
	color: var(--text-muted);
	margin: 0 4.58vw 3.65vw 5.16vw;
	font-weight: normal;
}

.home__section-first img {
	height: 35.52vw;
	width: 56.51vw;
}

.section-first__content {
	display: flex;
	flex-direction: row;
	position: relative;
}

.section-first__text {
	display: flex;
	flex-direction: column;
	gap: 0.26vw;
	position: absolute;
	width: 45.21vw;
	height: 25.94vw;
	background-color: var(--text-primary);
	top: 5.42vw;
	left: 50.21vw;
	color: var(--text-light);
}

.section-first__title {
	font-size: 2.5vw;
	margin-top: 2.97vw;
	margin-left: 4.9vw;
	line-height: 108%;
	height: 10vw;
}

.section-first__title em {
	font-weight: 700;
	font-style: italic;
}

.section-first__description {
	font-weight: 500;
	font-size: 0.83vw;
	height: 10.26vw;
	margin-left: 4.9vw;
	line-height: 200%;
}

.section-first__description em {
	font-weight: 800;
	font-style: normal;
}

.section-first__text hr {
	width: 35.47vw;
}

.home__section-second {
	margin: 6.67vw 4.33vw 4.85vw 5vw;
}

.home__section-second h2 {
	font-size: 2.08vw;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}

.section-second__blocks {
	display: flex;
	gap: 1.41vw;
}

.section-second__block {
	width: 29.63vw;
	height: 13.85vw;
	background-color: rgba(234, 159, 116, 0.39);
	border-radius: 0.73vw;
}

.section-second__block ol {
	list-style-type: disc;
}

.section-second__block ol li {
	list-style: disc inside none;
	font-family: 'TT Travels', sans-serif;
	line-height: 133%;
	font-size: 0.83vw;
}

.block__title {
	font-size: 1.67vw;
	margin: 2.34vw 0 0 1.82vw;
	display: block;
}

.section-second__block hr {
	width: 26.3vw;
	margin: 0.92vw 0 0 1.98vw;
	border-color: rgba(0, 0, 0, 0.4);
	font-weight: 400;
}
