.products__top {
	background-image: url('../../assets/background.png');
	height: 16.15vw;
	background-size: cover;
	background-position: center bottom 20%;
}

.products__top h1 {
	text-align: center;
	margin: 3.7vw 0 0 0;
	height: 4.84vw;
	font-weight: bold;
	font-size: 3.13vw;
	color: #be3d09;
}

.products__top h2 {
	text-align: center;
	height: 2.5vw;
	font-weight: normal;
	font-size: 1.67vw;
	margin: 0;
}

.products__products-items {
	display: flex;
	gap: 2.66vw;
	padding: 4.74vw 8.59vw 6.96vw 8.49vw;
}

.products-items__products-item {
	width: 25.83vw;
	height: 25.13vw;
	background-color: rgba(0, 78, 89, 0.03);
	border-radius: 1.04vw;
}

.products-items__products-item img {
	display: block;
	width: 9.27vw;
	height: 9.64vw;
	margin: 0.89vw auto 0.78vw auto;
}

.products-info__name {
	font-size: 1.25vw;
	font-weight: 500;
	color: var(--text-muted);
	text-align: center;
	height: 1.51vw;
}

.products-info__price {
	color: #be3d09;
	font-size: 1.25vw;
	text-align: center;
	font-weight: 500;
	height: 1.51vw;
	margin: 0.52vw 0 0 0;
}

.products-info__description {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0.31vw 0 0 0;
	height: 3.33vw;
}

.products-info__description span {
	font-size: 0.68vw;
	color: var(--background-teal);
}

.products-item__rating {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.63vw 0 0.63vw 0;
}

.products-item__rating-value {
	font-size: 0.42vw;
	color: var(--text-muted);
}

.products-item__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 14.48vw;
	height: 2.32vw;
	background-color: var(--text-accent);
	border-radius: 0.78vw;
	border: none;
	color: #ffffff;
	font-weight: 400;
	font-size: 1.04vw;
	cursor: pointer;
	text-decoration: none;
}
