.orders__title {
	text-align: center;
	margin: 3.7vw 0 0 0;
	height: 4.84vw;
	font-weight: bold;
	font-size: 3.13vw;
	color: #be3d09;
}

.orders__description {
	text-align: center;
	height: 2.5vw;
	font-weight: normal;
	font-size: 1.67vw;
	margin: 0;
	text-transform: uppercase;
}

.orders__content {
	padding: 5.31vw 6.82vw 4.06vw 6.51vw;
}

.orders-order__id-date-status-total {
	display: flex;
	gap: 2.03vw;
	align-items: center;
}

.orders-order__id-date {
	display: flex;
	flex-direction: column;
	gap: 0.52vw;
	width: 9.01vw;
}

.orders-order__id-date span {
	font-size: 1.25vw;
	font-weight: 500;
	color: var(--text-muted);
}

.orders-order__status {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10.47vw;
	height: 2.64vw;
	background-color: rgba(200, 207, 194, 0.51);
	border: 1px solid rgba(66, 91, 96, 0.52);
	border-radius: 0.78vw;
	font-size: 1.04vw;
	color: var(--text-muted);
}

.orders-order__total {
	font-family: 'TT Travels', sans-serif;
	font-weight: 400;
	margin-left: auto;
	font-size: 1.25vw;
}

.orders-order__total em {
	font-family: 'TT Travels', sans-serif;
	font-weight: 400;
	font-size: 1.25vw;
	color: #be3d09;
	font-style: normal;
	margin: 0 0 0 0.83vw;
}

.orders__orders-order {
	padding: 1.67vw 5.57vw 3.28vw 6.2vw;
	width: 86.72vw;
	height: 20.99vw;
	background-color: rgba(0, 78, 89, 0.03);
	border-radius: 1.04vw;
	box-sizing: border-box;
}

.order-item img {
	width: 10.16vw;
	height: 10.57vw;
}

.order-item__img-name-description-button-count {
	display: flex;
	gap: 3.7vw;
	margin: 1.93vw 0 0 0;
}

.order-item__name {
	display: block;
	font-size: 1.67vw;
	font-weight: 500;
	color: var(--text-muted);
	margin: 0 0 1.3vw 0;
}

.order-item__description-button {
	display: flex;
	gap: 2.19vw;
}

.order-item__description {
	display: flex;
	flex-direction: column;
}

.order-item__description span {
	font-size: 0.78vw;
	font-weight: 400;
	color: var(--background-teal);
}

.order-item__button {
	font-size: 1.04vw;
	font-weight: 400;
	color: var(--background-teal);
	background: none;
	border: 1px solid rgba(66, 91, 96, 0.52);
	border-radius: 0.78vw;
	width: 11.09vw;
	height: 3.13vw;
}

.order-item__count {
	display: block;
	font-size: 0.78vw;
	font-weight: 400;
	color: var(--background-teal);
	margin: 0.78vw 0 0 0;
}
